<tr>
        <th>Deliverable</th>
        <th>Complexity</th>
        <th>Action</th>
</tr>

<% for deliverable in @deliverables_of_phase %>
<tr>
  <td>
    <%= deliverable.name %>
  </td>
    <td>
    <%= deliverable.complexity %>
  </td>
  <td>
    <a href="#">Modify</a>
    <a href="#">Delete</a>
  </td>
</tr>
<% end %>
<tr>
        <td>&nbsp;</td>
</tr>
<tr>
        <td>&nbsp;</td>
</tr>
<tr>
  <td colspan="3">
    <div id="add_deliverable">

      <%= link_to "Add deliverable type", :action=>'validate_before_adding_new_type' %>
    </div>
  </td>
</tr>