<tr>
  <th>Deliverable</th>
  <th>Upload/Download Deliverable</th>
  <th>Action</th>
</tr>

<% for deliverable in @deliverables_of_phase %>
<tr>
  <td>
    <%= deliverable.name %>
  </td>
  <td>
    <% if deliverable.attachment? then %>
      <%= link_to "<span class=\"icon_download\"></span>#{deliverable.attachment_file_name}", deliverable.attachment.url %>
    <% else %>
      <%= link_to "<span class=\"icon_upload\"></span>Upload Deliverable", :controller=>'deliverables' ,:action=>'add_attachment', :id=>deliverable.id %>
    <% end %>

  </td>
  <td>
    <a href="#">Modify</a>
    <a href="#">Delete</a>
  </td>
</tr>
<% end %>
<tr>
  <td>&nbsp;</td>
</tr>
<tr>
  <td>&nbsp;</td>
</tr>
<tr>
  <td colspan="3">
    <div id="add_deliverable">

      <%= link_to "Add deliverable type", :action=>'validate_before_adding_new_type' %>
    </div>
  </td>
</tr>