<tr>
        <td class="centered heading">Deliverable</td>
        <td class="centered heading">complexity</td>
        <td class="centered heading">Action</td>
</tr>

<% for deliverable in @deliverables_of_phase %>
<tr>
  <td>
    <%= deliverable.name %>
  </td>
    <td>
    <%= deliverable.complexity %>
  </td>
  <td>
    <a href="#">Modify</a>
    <a href="#">Delete</a>
  </td>
</tr>
<% end %>
<tr>
        <td>&nbsp;</td>
</tr>
<tr>
        <td>Select Deliverable Type To Add</td>
        <td>
                <%= select params[:devtype], params[:devtype], @deliverable_types %>
        </td>
        <td><%= link_to "Add deliverable type", :action=>'validate_before_adding_new_type' %></td>
</tr>

<tr>
        <td colspan="3"><a href="#">Next Phase</a></td>
</tr>
<tr>
        <td colspan="3"><a href="#">Over View</a></td>
</tr>
