<h1>Setting Up Your Project Phases</h1>


<div class="content_phase">
  <div id="div_phase">
    <%= select(:deliverable, :phase, @phases,
      {:prompt   => "Select a phase"},
      {:onchange => "#{remote_function(:url  => {:action => "update_deliverable_partial"},
      :with => "'phase='+value")}"}) %>
  </div>
  <table id="phase_partial" class="phase">
     <%= render :partial=>"deliverable_partial", :object=>@deliverables_of_phase %>
    </table>
  <%= link_to 'Project Overview', "projects/overview" %><br/>
</div>