Phase:<%= select(:deliverable, :phase, @phases,
                      {:prompt   => "Select a phase"},
                      {:onchange => "#{remote_function(:url  => {:action => "update_deliverable_partial"},
                      :with => "'phase='+value")}"}) %>
<table id="phase_partial" class="phase">
        
   <%= render :partial=>"deliverable_partial", :object=>@deliverables_of_phase %>

</table>