<h1>Setting Up Project Phases</h1>


<div class="content_phase">
  <div id="div_phase">
    <%= select(:deliverable, :phase, @phases,
      {:prompt   => "Select a phase"},
      {:onchange => "#{remote_function(:url  => {:action => "update_deliverable_partial"},
      :with => "'phase='+value")}"}) %>
  </div>
  <table id="phase_partial" class="phase">
     <%= render :partial=>"deliverable_partial", :object=>@deliverables_of_phase %>
    </table>
  <%= link_to '&laquo; Project Homepage', "projects/#{session[:project_id]}" %><br/>
  <%= link_to 'Project Overview &raquo;', "projects/overview" %><br/>
</div>