<p/>PET, the Process Enactment Tool, is currently in development by ND System
Solutions and headed by Team RailBlazers. The current version, 1.3, is the
direct successor to the popular multi-million dollar Java-based version 1.1
that brought NDSS to fame. This current version inherits all of the previous
functionality, including even more features to optimize your project and
process planning.

<br/><br/><p/>
Team RailBlazers is:
<ul>
  <li><a href="mailto:cliff.chen@sv.cmu.edu">Cliff Chen</a></li>
  <li><a href="mailto:ian.zhang@sv.cmu.edu">Ian Zhang</a></li>
  <li><a href="mailto:rahul.baxi@sv.cmu.edu">Rahul Baxi</a></li>
  <li><a href="mailto:engin.dogusoy@sv.cmu.edu">Engin Dogusoy</a></li>
</ul>