a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  
}

.fieldWithErrors label, .fieldWithErrors input {
    background: red;
}

#errorExplanation {
  width: 400px;
  margin: 0 auto;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}


body {
	font-family: Arial;
}

h1 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 24px;
}

h2, h4 {
	text-align: center;
	margin-top: 0px;
	margin-bottom: 5px;
}

div#container {
	width: 962px;
	margin: 0 auto;
}

div#top {
	font-size: 10pt;
	width: 950px;
	height: 90px;
	border: 1px solid black;
	margin: 0 auto;
        
	background-image: url('banner.png');
	background-repeat: no-repeat;
	padding: 5px 5px 5px 7px;
	line-height: 160px;
}

div#left {
	width: 190px;
	height: 590px;
	float: left;
	border: 1px solid black;
	margin: 10px 10px 0px 0px;
}

div#left ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

 div#left ul li {
	border-top: 1px solid black;
	padding: 2px 2px 2px 15px;
}

div#left ul li:first-child, div#left ul li ul li {
	border-top: none;
}

div#main {
	border: 1px solid black;
	width: 730px;
	float: right;

        /* TODO:  15 pixels off! */
	margin-top: 10px;
	overflow: auto;
	text-align: center;
	padding: 10px 10px 10px 10px;
}
div#main ul {
	width: 240px;
	margin: 0 auto;
	list-style-type: circle;
}
div#main ul li ul {
	list-style-type: square;
}
div#main_buttons {
	width: 200px;
	margin: 0 auto;
	margin-top: 10px;
}

div#main select, div#main select option {
	text-align: center;
}

table#overview {
	width: 500px;
	border: 1px solid black;
	margin: 0 auto;
}
table#overview td {
	border: 1px solid black;
	padding: 2px 2px 2px 2px;
}

table#overview tr:first-child {
	text-align: center;
}

span.status_active {
	color: green;
}

span.status_inactive {
	color: red;
}

td.centered {
	text-align: center;
}

td.heading {
	background: #cccccc;
}

table.phase {
	width: 500px;
	margin: 0 auto;
	padding: 2px 2px 2px 2px;
}

table.phase td {
	text-align: center;
}

div.content {
    width: 500px;
    
    margin: 0 auto;
    padding: 2px 2px 2px 2px;
    overflow: auto;
}

div.content input, div.content textarea, div.content select {
    width: 300px;
    float: right;
    margin: 2px 2px 2px 2px;
}

/* Create Button on Create a Project Page*/
input {
    margin-bottom: 5px;
}

div.content select {
    width: 200px;
    margin-right: 50px;
}

label {
    float: left;
    padding: 2px 2px 2px 2px;
    clear: both;
}

/* Figure this otu later */
div.content textarea {
    width: 304px;
}